In [152]:
import pandas as pd

In [153]:
path = "C://Users/khanz/Desktop/titanic.csv"  
df = pd.read_csv(path)
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [154]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [155]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [156]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [157]:
# self--------->
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [158]:
# self--------->

target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [159]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [160]:
# first 10 elements of the Age column
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [161]:
# handle missing values in the Age column of a Pandas DataFrame inputs
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [162]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [163]:
from sklearn.model_selection import train_test_split

In [164]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)


# # The line X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2) is splitting 
# the inputs and target data into four different parts:

# X_train is the training set for the input data.
# X_test is the testing set for the input data.
# y_train is the training set for the target data.
# y_test is the testing set for the target data.
# The train_test_split function takes three arguments:

# inputs: The input data that needs to be split.
# target: The target data that needs to be split.
# # test_size: The fraction of the data that should be used for testing (the remaining data is used for training). 
# The default value is 0.25.

# len(X_train) will give you the number of rows in the X_train data.

In [165]:
len(X_train)

712

In [166]:
len(X_test)

179

In [167]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [168]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [169]:
model.score(X_test,y_test)

0.8100558659217877